@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 62.5%;
}

$color1: #4C4C6D;
$color2: #1B9C85;
$color3: #E8F6EF;
$color4: #FFE194;

$shadowDefault: 0px 5px 10px #00000050;

.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 10px 80px;
        background-color: $color1;
        color: $color3;
        
        h1 {
        font-family: 'Lobster';
        font-size: 4rem;
        }
    
        svg {
            width: 50px;
            margin-right: 10px;
        }
    }

    main.main-home, main.main-list, main.main-about{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        nav {
            background-color: $color2;
            color: $color3;
            padding: 5px 20%;
            font-size: 4rem;
            font-family: 'Noto Sans';
            font-weight: 800;
            box-shadow: $shadowDefault;
            z-index: 1;
        
            ul{
                display: flex;
                justify-content:space-between;
                align-items: center;
        
                li {
                    
                    a {
                        display: flex;
                        justify-content: center;
                        color: $color3;
                        text-decoration: none;
                        font-size: 1.5rem;

                        svg {
                            width: 20px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        section {
            background-color: $color3;
            font-size: 5rem;
            padding: 0px 80px;
            padding-top: 20px;
            flex-grow: 1;

            .buttons-content{
                display: flex;
                justify-content: space-between;

                button {
                    margin: 2px;
                }
            }

            h3.list-page-title {
                font-family: 'Noto Sans';
                text-align: center;
                color: $color2;
                margin-bottom: 10px;
            }

            .list-area,.item-area{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 25px;
                flex-wrap: wrap;
            }
        }
    }

    .main-button{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        white-space: nowrap;

        border-radius: 8px;
        border: $color1 solid 2px;
        background-color: $color1;
        box-shadow: $shadowDefault;
        padding: 5px 10px;
        

        font-family: 'Noto Sans';
        font-size: 1.5rem;
        font-weight: 800;
        color: $color3;

        transition: .5s;

        svg {
            width: 20px;
            margin-right: 5px;
        }

        &:hover{
            cursor: pointer;

            border: $color1 solid 2px;
            color: $color1;
            background-color: transparent;
        }
    }

    /* VEJA SE PÔR GRID NÃO É MAIS INTERESSANTE */
    /* TALVEZ SEJA INTERESSSANTE PÔR ESSA CLASSE DENTRO DA SECTION 
    TALVEZ FAZER ISSO TAMBÉM COM AS DEMAIS PRA MANTER FIDELIDADE DE POSICIONAMENTO
    DOS ELEMENOS DENTRO DAS TAGS OS QUAIS FORAM INSERIDOS 
    */

    .list{
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        border: $color1 solid 5px;
        border-radius: 10px;
        color: $color1;
        box-shadow: $shadowDefault;

        width: 130px;
        height: 140px;

        font-size: 3rem;
        font-family: 'Noto Sans';
        text-align: center;

        padding: 10px 20px 10px 10px;
        margin: 10px;

        .ico-list-content {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: -17px;
            left: 10px;


            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color1;
            color: $color3;

            svg{
                width: 90%;
            }
        }

        .tools-content {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: -20px;

            border: $color1 solid 3px;
            background-color: $color3;
            color: $color1;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            z-index: 1;

            transition: .5s;

            svg{
                width: 60%;
            }

            &.first{
                top: 25%;
            }

            &.second{
                top: 55%;
            }

            &:hover{
                background-color: $color1;
                color: $color3;
                cursor: pointer;
            }
        }
    }

    .item{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: $color1 solid 5px;
        border-radius: 20px;
        color: $color1;
        box-shadow: $shadowDefault;

        width: 100%;
        min-height: 60px;
        padding: 0px 10px;
        margin: 10px 0px;

        transition: .5s;

        input[type="checkbox"]{
            transform: scale(1);
            margin-left: 5px;

            &:hover{
                cursor: pointer;
            }

            &::after{
                width: 100%;
                height: 100%;
                background-color: $color3;
                border: $color1 solid 2px;
                position: absolute;
                top: 0px;
                left: 0px;
                content: "";
                border-radius: 2px;
            }

            &:checked::after{
                content: "✓";
                font-size: 1.5rem;
                font-weight: 600;
                background-color: $color1;
                color: $color3;
            }
        }

        h3{
            flex-grow: 1;
            margin: 0px 10px;

            border-right: $color1 solid 3px;
            height: 50%;
            
            font-size: 2rem;
            font-family: 'Noto Sans';
        }

        .tools-content{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: $color1 solid 3px;
            color: $color1;
            margin: 0 5px;

            transition: .5s;

            svg{
                width: 60%;
            }

            &:hover{
                background-color: $color1;
                color: $color3;
                cursor: pointer;
            }
        }
    }

    .done{
        border: $color2 solid 5px;
        background-color: $color2;
        color: $color3;

        /* Ajustar esse DONE e pôr o botão de envio de e-mail */

        /* .ico-list-content{
            border: $color1 solid 3px;
        } */

        .tools-content,.ico-list-content{
            border: $color3 solid 3px;
            background-color: $color2;
            color: $color3;
        }

        h3{
            border-right: $color3 solid 3px;
        }

        /* Remover  verão checked anterior */
        input[type="checkbox"]{
            &:checked::after{
                content: "✓";
                background-color: $color2;
                color: $color3;
                border: $color3 solid 2px;
            }
        }
    }

    .ground-modal{
        display: flex;
        justify-content: center;
        align-items: center;

        position:fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        transition: 1s;

        &.effect{
            backdrop-filter: blur(4px);
        }

        .modal{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            width: 300px;
            min-height: 150px;
            padding: 5px;
            margin: 0 5px;

            border: $color3 solid 5px;
            border-radius: 15px;
            background-color: $color2;
            color: $color4;
            font-size: 3rem;
            font-family: 'Noto Sans';
            text-align: center;
            box-shadow: $shadowDefault;

            h3 {
                margin-bottom: 10px;
            }

            .children-content {
                width: 100%;
            }

            .ico-content{
                position: absolute;
                top: -20px;
                left: calc(50% - 15px);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: $color3 solid 3px;
                background-color: $color2;

                svg {
                    width: 100%;
                    color: $color3;
                }
            }
        }
    }
}

/* Media Queries */
@media(max-width: 700px){
    .main-container{
        main.main-home, main.main-list, main.main-about{
            section {
                padding: 20px 30px;
            }
        }
    }
}

@media(max-width: 600px){
    .main-container{

        .item{  
            padding: 0 5px;

            h3 {
                margin: 0 5px;
            }

            .tools-content{
                margin: 0 1px;
            }
        }

    }
}

@media(max-width: 475px){
    .buttons-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 455px){
    .main-container{
        main.main-home, main.main-list, main.main-about{
            section {
                padding: 20px 5px;
                justify-content: space-between;
            }
        }
    }
}

@media(max-width: 440px){
    .main-container{
        header{
            padding: 10px 30px;
        }

        .list{  
            width: 125px;
            height: 135px;
    
            padding: 10px 17px 10px 7px;
            /* margin: 10px; */
        }
    }
}