@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 62.5%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 80px;
  background-color: #4C4C6D;
  color: #E8F6EF;
}
.main-container header h1 {
  font-family: "Lobster";
  font-size: 4rem;
}
.main-container header svg {
  width: 50px;
  margin-right: 10px;
}
.main-container main.main-home, .main-container main.main-list, .main-container main.main-about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-container main.main-home nav, .main-container main.main-list nav, .main-container main.main-about nav {
  background-color: #1B9C85;
  color: #E8F6EF;
  padding: 5px 20%;
  font-size: 4rem;
  font-family: "Noto Sans";
  font-weight: 800;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3137254902);
  z-index: 1;
}
.main-container main.main-home nav ul, .main-container main.main-list nav ul, .main-container main.main-about nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container main.main-home nav ul li a, .main-container main.main-list nav ul li a, .main-container main.main-about nav ul li a {
  display: flex;
  justify-content: center;
  color: #E8F6EF;
  text-decoration: none;
  font-size: 1.5rem;
}
.main-container main.main-home nav ul li a svg, .main-container main.main-list nav ul li a svg, .main-container main.main-about nav ul li a svg {
  width: 20px;
  margin-right: 10px;
}
.main-container main.main-home section, .main-container main.main-list section, .main-container main.main-about section {
  background-color: #E8F6EF;
  font-size: 5rem;
  padding: 0px 80px;
  padding-top: 20px;
  flex-grow: 1;
}
.main-container main.main-home section .buttons-content, .main-container main.main-list section .buttons-content, .main-container main.main-about section .buttons-content {
  display: flex;
  justify-content: space-between;
}
.main-container main.main-home section .buttons-content button, .main-container main.main-list section .buttons-content button, .main-container main.main-about section .buttons-content button {
  margin: 2px;
}
.main-container main.main-home section h3.list-page-title, .main-container main.main-list section h3.list-page-title, .main-container main.main-about section h3.list-page-title {
  font-family: "Noto Sans";
  text-align: center;
  color: #1B9C85;
  margin-bottom: 10px;
}
.main-container main.main-home section .list-area, .main-container main.main-home section .item-area, .main-container main.main-list section .list-area, .main-container main.main-list section .item-area, .main-container main.main-about section .list-area, .main-container main.main-about section .item-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  flex-wrap: wrap;
}
.main-container main.main-home section h4, .main-container main.main-list section h4, .main-container main.main-about section h4 {
  font-family: "Noto Sans";
  text-align: center;
  color: #4C4C6D;
  margin: 10px 0px;
  font-size: 2.5rem;
}
.main-container main.main-home section p, .main-container main.main-list section p, .main-container main.main-about section p {
  font-family: "Noto Sans";
  text-align: justify;
  text-indent: 60px;
  font-size: 2rem;
  color: #4C4C6D;
  margin: 10px 0px;
}
.main-container main.main-home section p span, .main-container main.main-list section p span, .main-container main.main-about section p span {
  font-weight: 600;
  font-size: 2rem;
}
.main-container main.main-home section p span.check, .main-container main.main-list section p span.check, .main-container main.main-about section p span.check {
  color: #1B9C85;
}
.main-container .main-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  border-radius: 8px;
  border: #4C4C6D solid 2px;
  background-color: #4C4C6D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3137254902);
  padding: 5px 10px;
  font-family: "Noto Sans";
  font-size: 1.5rem;
  font-weight: 800;
  color: #E8F6EF;
  transition: 0.5s;
}
.main-container .main-button svg {
  width: 20px;
  margin-right: 5px;
}
.main-container .main-button:hover {
  cursor: pointer;
  border: #4C4C6D solid 2px;
  color: #4C4C6D;
  background-color: transparent;
}
.main-container .list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: #4C4C6D solid 5px;
  border-radius: 10px;
  color: #4C4C6D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3137254902);
  width: 130px;
  height: 140px;
  font-size: 3rem;
  font-family: "Noto Sans";
  text-align: center;
  padding: 10px 20px 10px 10px;
  margin: 10px;
}
.main-container .list .ico-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -17px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4C4C6D;
  color: #E8F6EF;
}
.main-container .list .ico-list-content svg {
  width: 90%;
}
.main-container .list .tools-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -20px;
  border: #4C4C6D solid 3px;
  background-color: #E8F6EF;
  color: #4C4C6D;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 1;
  transition: 0.5s;
}
.main-container .list .tools-content svg {
  width: 60%;
}
.main-container .list .tools-content.first {
  top: 25%;
}
.main-container .list .tools-content.second {
  top: 55%;
}
.main-container .list .tools-content:hover {
  background-color: #4C4C6D;
  color: #E8F6EF;
  cursor: pointer;
}
.main-container .list:hover {
  cursor: pointer;
}
.main-container .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: #4C4C6D solid 5px;
  border-radius: 20px;
  color: #4C4C6D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3137254902);
  width: 100%;
  min-height: 60px;
  padding: 0px 10px;
  margin: 10px 0px;
  transition: 0.5s;
}
.main-container .item input[type=checkbox] {
  transform: scale(1);
  margin-left: 5px;
}
.main-container .item input[type=checkbox]:hover {
  cursor: pointer;
}
.main-container .item input[type=checkbox]::after {
  width: 100%;
  height: 100%;
  background-color: #E8F6EF;
  border: #4C4C6D solid 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  border-radius: 2px;
}
.main-container .item input[type=checkbox]:checked::after {
  content: "✓";
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #4C4C6D;
  color: #E8F6EF;
}
.main-container .item h3 {
  flex-grow: 1;
  margin: 0px 10px;
  border-right: #4C4C6D solid 3px;
  height: 50%;
  font-size: 2rem;
  font-family: "Noto Sans";
}
.main-container .item .tools-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #4C4C6D solid 3px;
  color: #4C4C6D;
  margin: 0 5px;
  transition: 0.5s;
}
.main-container .item .tools-content svg {
  width: 60%;
}
.main-container .item .tools-content:hover {
  background-color: #4C4C6D;
  color: #E8F6EF;
  cursor: pointer;
}
.main-container .done {
  border: #1B9C85 solid 5px;
  background-color: #1B9C85;
  color: #E8F6EF;
}
.main-container .done .tools-content, .main-container .done .ico-list-content {
  border: #E8F6EF solid 3px;
  background-color: #1B9C85;
  color: #E8F6EF;
}
.main-container .done h3 {
  border-right: #E8F6EF solid 3px;
}
.main-container .done input[type=checkbox]:checked::after {
  content: "✓";
  background-color: #1B9C85;
  color: #E8F6EF;
  border: #E8F6EF solid 2px;
}
.main-container .ground-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: 1s;
}
.main-container .ground-modal.effect {
  backdrop-filter: blur(4px);
}
.main-container .ground-modal .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  min-height: 150px;
  padding: 5px;
  margin: 0 5px;
  border: #E8F6EF solid 5px;
  border-radius: 15px;
  background-color: #1B9C85;
  color: #FFE194;
  font-size: 3rem;
  font-family: "Noto Sans";
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3137254902);
}
.main-container .ground-modal .modal h3 {
  margin-bottom: 10px;
}
.main-container .ground-modal .modal .children-content {
  width: 100%;
}
.main-container .ground-modal .modal .ico-content {
  position: absolute;
  top: -20px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #E8F6EF solid 3px;
  background-color: #1B9C85;
}
.main-container .ground-modal .modal .ico-content svg {
  width: 100%;
  color: #E8F6EF;
}

/* Media Queries */
@media (max-width: 700px) {
  .main-container main.main-home section, .main-container main.main-list section, .main-container main.main-about section {
    padding: 20px 30px;
  }
}
@media (max-width: 520px) {
  .main-container .item h3 {
    text-align: center;
    padding: 0 5px;
    font-size: 1.5rem;
  }
}
@media (max-width: 475px) {
  .buttons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 455px) {
  .main-container main.main-home section, .main-container main.main-list section, .main-container main.main-about section {
    padding: 20px 5px;
    justify-content: space-between;
  }
  .main-container main.main-home section .about-content, .main-container main.main-list section .about-content, .main-container main.main-about section .about-content {
    padding: 0px 10px;
  }
}
@media (max-width: 440px) {
  .main-container header {
    padding: 10px 30px;
  }
  .main-container main.main-home section .list-area {
    justify-content: center;
  }
  .main-container .list {
    width: 125px;
    height: 135px;
    padding: 10px 17px 10px 7px;
  }
}

/*# sourceMappingURL=index.css.map */
